{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, blanditiis tenetur eum, similique, tempora id officiis eveniet nulla ullam illum temporibus? Eligendi ipsa vel nobis alias culpa dolore pariatur nihil!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet sunt quibusdam blanditiis. Possimus reiciendis, consectetur repudiandae maiores rem molestias quo minima ut vel id pariatur ab impedit fugiat officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio molestias reiciendis excepturi tenetur voluptatem. Itaque aliquid rem atque repellendus libero vel ut illum, eligendi ipsum a cupiditate? Magni, illum dolorem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum animi illum quas aspernatur similique. Reprehenderit, modi! Tempora error recusandae magnam consectetur eos vel quo non veniam, cum, iusto doloribus autem.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

        
    </section>
</main>


{% endblock %}
